form {
    width: 500px;
    margin: 0px auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 500px;
}

.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
    height: 20px;
    width: 500px;
    font-size: 15px;
}