body,
html,
div.slate,
div#app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*overflow: scroll;*/
}

body {
    margin: 0;
    padding: 0;
}

div.slate {
    background-color: white;
    height: 500%;
    width: 500%;
    top: -200%;
    left: -200%;
}

div.node {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    /*background-color: white;*/
    margin: 2px 0;
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
    position: absolute;
    cursor: -webkit-grab;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

div.node:active {
    cursor: -webkit-grabbing;
}

div.node p {
    font-size: 22px;
    padding: 5px;
    font-family: "Arvo", Arial;
    /*-webkit-text-stroke: 1px white;*/
    color: black;
}

div.node:hover > span {
    opacity: 1;
}

div.node > span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .25s linear;
}

div.node button {
    margin: 2px;
    right: 7px;
    top:-30px;
}

div.node > textarea {
    height: 75%;
    background: rgba(255, 255, 255, .5);
}

.glyphicon-plus {
    position: fixed;
    top: 10px;
    right: 10px;
}