body,
html,
div.slate,
div#app {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

div.slate {
    position: absolute;
    background-color: white;
    height: 500%;
    width: 500%;
    top: -200%;
    left: -200%;
    cursor: -webkit-grab;
}

div.node {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 2px 0;
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
    position: absolute;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    animation: fadeNode 2s;
}

div.inspect {
    width: 300px;
    display: inline-block;
    border-radius: 10px;
    margin: 2px 0;
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    animation: fadeNode 2s;
}

div.nodeImage {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 2px 0;
    padding: 20px;
    position: absolute;
    animation: fadeImage 2s;
}

@keyframes fadeNode {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeImage {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.25;
    }
}

div.node p {
    font-size: 15px;
    padding: 1px;
    font-family: "Arvo", Arial;
    color: black;
}

div.node:hover > span {
    opacity: 1;
}

div.node > span {
    position: relative;
    right: 0;
    top: 20px;
    opacity: 0;
    transition: opacity .25s linear;
}

div.node button {
    margin: 2px;
}

div.node > textarea {
    height: 75%;
    background: rgba(255, 255, 255, .5);
}

.glyphicon-plus {
    position: fixed;
    top: 10px;
    right: 10px;
}